<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      <title>
          {% block title %}

          {% endblock %}
      </title>

      <style>

        body {
        background-color: #5B7FFF;
        color: white
        }
        
    
     footer {
      background-color: #080a30;
      padding: 20px;
      text-align: center;
      clear: both;
      position: relative;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 1;
    }
    
    .footer-container {
      max-width: 640px;
      margin: 0 auto;
      padding: 20px;
    }
    
    .footer-container ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }
    
    .footer-container li {
      margin-right: 20px;
    }
    
    .footer-container a {
      color: #6b6b6b;
      text-decoration: none;
    }
    
    .footer-container a:hover {
      color: #333;
    } 
    
  </style>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="background-color: #6F7070;">
      <a class="navbar-brand" href="{{url_for('main.starting_page')}}">Flask Market</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('main.home_page')}}">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{url_for('Haircut_details.Haircut_shop_adding_page')}}">Haircut Shops Form </a>
            </li>
 
            <li style="padding-top: 10px; padding-left: 10px;"><details>
              <summary class="nav-item">FOOD</summary>
               <ul>
                
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('Food_details.food_adding_page')}}">Foods adding</a>
                </li>

                <li class="nav-item">
                   <a class="nav-link" href="{{url_for('Food_details.food_shop_adding_page')}}">Food Shops </a>
                </li>
            
               </ul>
            </details>
            </li>

            <li style="padding-top: 10px; padding-left: 10px;"><details>
              <summary class="nav-item">SHOE</summary>
               <ul>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('Shoe_details.shoe_adding_page')}}">Shoes adding</a>
                </li>

                <li class="nav-item">
                   <a class="nav-link" href="{{url_for('Shoe_details.shoe_shop_adding_page')}}">Shoes Shops </a>
                </li>
            
               </ul>
            </details>
            </li>

        </ul>
        <ul class="navbar-nav">
         {% if current_user.is_authenticated %}
         <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.logout')}}">Logout</a>
      </li>
         {% else %}
         <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.login')}}">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.register')}}">Register</a>
      </li>
         {% endif %}
        </ul>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
      {% block content %}
       
      {% endblock %}
      <!-- Future Content here -->
 
      
      <Br>
        <br>
        <br>
        <br>
      <footer>
        {% if current_user.is_authenticated %}
        <div style="text-align: left; display: flex; justify-content: space-around; "  >
           <a href="#" style="text-decoration: none;"><img src="static/icons/instagram.png" style="width: 25px; height: auto;">Instagram</a>    
 
           <a href="#" style="text-decoration: none;"><img src="static/icons/linkedin.png" style="width: 25px; height: auto;">LinkedIn</a>    
  
           <a href="#" style="text-decoration: none;"><img src="static/icons/whatsapp.png" style="width: 25px; height: auto;">Whatsapp</a>    
            
        </div>
        <div class="footer-container">
          <p>&copy; 2024 Flask. All rights reserved.</p>
          <ul>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="mailto:qualitypro@gmail.com">Contact Us</a></li>
          </ul>
          </div>
          {% else %}
          <div class="footer-container">
          <p>&copy; 2024 Flask. All rights reserved.</p>
          <ul>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="mailto:qualitypro@gmail.com">Contact Us</a></li>
          </ul>
        </div>
        {% endif %}
      </footer>










 <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
          

   </body>
   
  
</html>