{% extends 'admin.html' %}
{% block title %}
  Admin Page
{% endblock %}


{% block content %}

<style>
    .card-header{
        color: black;
    }
    .list-group-item{
        color: rgb(77, 77, 196);
    }
</style>
<header class="bg-dark  text-white text-center py-3">
    <h1>Items by Category</h1>
</header>
<div class="container my-5" >
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header" style="display: flex; justify-content: space-between;">
                    Category <span>234</span>
                </div>
                <ul class="list-group list-group-flush" >
                    <div style="display: flex; justify-content: space-between;"><li class="list-group-item">Item 1.1</li>
                    <li class="list-group-item">Item 1.2</li>
                    <li class="list-group-item">Item 1.11</li></div>
                    <li class="list-group-item">Item 1.3</li>
                    <li class="list-group-item">Item 1.4</li>
                </ul>
            </div>
        </div>
 
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header">
                   Food Category
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a  href="{{url_for('Food_details.food_adding_page')}}">Foods adding</a></li>
                    <li class="list-group-item"><a  href="{{url_for('Food_details.food_shop_adding_page')}}">Food Shops </a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header">
                    Shoe Category 
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a   href="{{url_for('Shoe_details.shoe_adding_page')}}">Shoes adding</a></li>
                    <li class="list-group-item"><a   href="{{url_for('Shoe_details.shoe_shop_adding_page')}}">Shoes Shops </a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header">
                    Haircut Category 
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a   href="{{url_for('Haircut_details.Haircut_shop_adding_page')}}">Haircut Shops</a></li>
                 </ul>
            </div>
        </div>

    </div>
</div>
{% endblock %}
