{% extends 'base.html' %}
{% block title %}
 Login Page
{% endblock %}

{% block content %}
<style>
    .subm{
   background: linear-gradient( hsl(0, 100%, 70%),hsl(313, 100%, 60%));
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 25px;
   font-weight: 100;
   color: whitesmoke;
   padding: 3px;
   text-align: center;
   padding-bottom: 8px;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 15px;
   
}
@media screen and (min-width:728px) {
  #dd{
     margin-left: 30%;
  }
}
</style>
<div id="dd">
<div class="content-section" style="width: 80vmin; margin: 50px;">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            <div class="form-group">
                {{ form.email.label(class="form-control-label" ) }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group">
            <span class="subm">{{ form.submit(class="btn") }}</span>
        </div>
        <small class="text-muted ml-2">
            <a style="color: bisque;font-size: 13px;  -webkit-text-stroke: 0.2px rgb(152, 152, 235);"  href="{{url_for('main.register')}}">Forgot Password?</a>
        </small>
    </form>
</div>
<div class="border-top pt-3 " style="width: 80vmin; margin: 50px;">
    <small class="text-muted " style="font-size: 15px;">
        Need An Account? <a class="ml-2" style="color: rgb(106, 221, 182);" href="{{ url_for('main.register') }}"> Sign Up </a>
    </small>
</div>
 
</div>

{% endblock %}