{% extends 'base.html' %}
{% block title %}
 Shops template Page
{% endblock %}


{% block content %}
<div   style="padding-top:15rem ; padding-left: 40%; padding-bottom: 10rem; font-size: larger;">
<form action="/Haircut_shop_page" method="POST" enctype="multipart/form-data">
    <div >

    <label for="P">Select Place => </label>
    <select id="P" name="PL1"> 
        <option value="Bagayam">Bagayam</option>
        <option value="New Bustand">New Bustand</option>
        <option value="Old Bustand">Old Bustand</option>
    </select> 
    <br>
    <label for="D">Select District => </label>
    <select id="C" name="DI1"> 
        <option value="">Select</option>
        <option value="Vellore">Vellore</option>
        <option value="Ranipet">Ranipet</option>
        <option value="Dindigul">Dindigul</option>
    </select> 
</div>
<div style="padding-top: 15px; padding-left: 8%;">
       <button style="padding: 5px; border-radius: 8px; padding-left: 15px; padding-right: 15px;" type="submit" >Filter</button> 
</div>
</form>
</div>
{% endblock %}
